html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    display: inline-block;
    
}

.card img {
    display: block;
    width: 100%;
    height: auto;
   
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4);
    object-fit: cover;
   
}

hr {
    
    border: 5rem;
    border-radius: 0;
    height: 10px;
    background-color: rgb(86, 176, 255);
    margin-top: -4px;
    margin-bottom: 0px;
}

